.catalog-item-card {
  margin-bottom: 1em;
}

.catalog-item-size {
  display: inline-block;
  padding: 0 10px;
}

.catalog-item-size.selected {
  background: #727e86;
  border-radius: 15px;
  color: #fff;
}

.catalog-item-card img {
  height: 300px;
  object-fit: cover;
}

.catalog-item-size {
  cursor: pointer;
}

.catalog-item button ~ .alert {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  width: 100% !important;
}